:root {
    --ucph-scrollindicator-height: 10px;
}

#horizontal-scroll {
    position: sticky;
    top: 0;
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: var(--bs-gray-200, gray);
    border-radius: 0;
    opacity: 0;
    transition: height .3s;
}

#horizontal-scroll .progress-bar {
    background-color: var(--red1, var(--bs-red));
    width: var(--scrollPercentage)
}

#horizontal-scroll.in-view {
    opacity: 1;
    height: var(--ucph-scrollindicator-height);
    z-index: 1024;
}
.scroll-indicator {
    height: unset;
} 
.scroll-indicator .in-view #page-header {
    margin-top: var(--ucph-scrollindicator-height);
}
